<h1><a href="/signin">Sign in</a><h1>
<h1><%=link_to("Sign up", new_user_path) %><h1>




<!--REDUNDANT TO PASS INCONSISTENCY IN TESTS -->

  <h3><a href="/signin">Sign In</a><h3>
  <h3><%=link_to("Sign Up", new_user_path) %><h3>
